@import "./variables";

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 1000px) {
    flex-direction: column;
  }
}

.contenedor1 {
  background-color: rgb(255, 255, 255);
  @include center;
  width: 100%;
  margin: 70px 0;
  gap: 40px;
}
.bordeIconos {
  width: 100px;
  height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid rgb(0, 0, 0);
  @include center;
  font-size: 70px;
}
.textoI1 {
  display: flex;
  justify-content: center;
  @include center;
  gap: 120px;
  margin: 2px 390px 100px 290px;
}

.contenedorda1 {
  // background-color: rgb(255, 255, 255);
  @include center;
  flex-direction: column;
  width: 300px;
  // height: 210px;
  // display: flex;
  // justify-content: center;

  h3 {
    font-size: 25px;
    text-align: center;
  }
  p {
    font-size: 12px;
    text-align: center;
  }
}
.contenedorda2 {
  background: transparent;
  margin: 20px 0px;
  padding: 50px 22%;
}

.buttonda1 {
  font-size: 21px;
  border-radius: 6px;
  width: 15%;
  height: 40px;
  border: 2px solid #68b2ca;
  background: transparent;
  color: #68b2ca;
  margin: 2px 490px;
}
