h1 {
  text-align: center;
  padding: auto;
}

.contenedor2 {
  display: flex;
  background-color: rgb(82, 246, 17);
  height: 110px;
  width: 100%;
  justify-content: space-around;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.contenedor3 {
  font-size: 11px;
  background-color: rgb(221, 223, 223);
  display: flex;
  height: auto;
  width: 50%;
  flex-direction: column;
  padding: 10px;

  h3 {
    font-size: 16px;
    text-align: center;
  }
}
.contenedor4 {
  display: flex;
  height: auto;
}

.box {
  display: flex;
}
.box1 {
  display: flex;
}
.box2 {
  display: flex;
  flex-flow: row nowrap;
  margin: 50px 22%;
  gap: 30px;
}
.btt {
  button {
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
    background-color: aqua;
  }
}
