@import "./variables";

h2 {
  text-align: center;
  padding: auto;
  font-size: x-large;
}

hr {
  width: 30%;
  border: 1px solid $color-azul;
}

.texto {
  text-align: center;
  background: transparent;
  font-size: large;
}

iframe {
  text-align: center;
  margin-top: 30px;
}

.todoelcontenido {
  background-color: #f5f5f5;
  margin: 20px 0px;
  padding: 50px 22%;
}

.footer {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
  margin: 20px 0px;
  padding: 50px 22%;

  a {
    color: rgb(32, 172, 214);
  }
}
br {
  font-size: 20px;
  color: #68b2ca;
}

.verticalLine {
  border-left: solid black;
  height: 18px;
  justify-content: flex-end;
}

.final {
  display: flex;
  justify-content: flex-start;
}
