h2 {
  text-align: center;
  padding: auto;
  font-size: x-large;
}

hr {
  width: 30%;
  border: 1px solid rgb(32, 172, 214);
}

.texto {
  text-align: center;
  background-color: #f5f5f5;
  font-size: large;
}

iframe {
  text-align: center;
  margin-top: 30px;
}

.todoelcontenido {
  background-color: #f5f5f5;
  margin: 20px 0px;
  padding: 50px 22%;
}
.footer {
  display: flex;
  justify-content: space-around;
  /* margin-left: 100px;
  margin-right: 100px; */
}
a {
  color: rgb(32, 172, 214);
}
