@import "./danielStyles";
@import "./diegoStyles";
@import "./lizStyles";

body {
  margin: 0;
  padding: 0;
}
.hero-image {
  background-image: url("https://static.dw.com/image/50558210_303.jpg");

  height: 500px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;

  color: rgb(83, 82, 82);
  h1,
  p {
    font-family: Georgia, serif;
  }
  p {
    color: white;
    font-size: 20px;
  }
  .texto-borde {
    -webkit-text-stroke: 1px rgb(243, 239, 239);
    color: black;
  }
}
.btt1 {
  font-size: 20px;
  border: none;
  padding: 10px 30px;
  border-radius: 8px;
  background-color: rgb(56, 61, 60);
  width: 180px;
  color: white;
}
button:hover {
  background-color: rgb(137, 176, 231);
}
