.contenedor1 {
  background-color: #8fb699;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 110px;
  gap: 200px;
}

.bordeIconos {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 70px;
}

h1 {
  text-align: center;
  padding: auto;
  font-size: 40px;
}

.contenedor2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f6f7f8;
  height: 110px;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 10px;
  color: black;
}

.contenedor3 {
  font-size: 11px;
  background-color: #dbf0f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
}

.contenedor3 h3 {
  font-size: 16px;
  text-align: center;
}

.contenedor4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin: 50px 22%;
  gap: 30px;
}

.btt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btt button {
  font-size: 10px;
  border: 1px solid blue;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #e3f0f0;
  color: blue;
}

.btt button:hover {
  background-color: #8492a5;
}

hr {
  width: 30%;
  border: 1px solid #2f8daa;
}

h2 {
  text-align: center;
  padding: auto;
  font-size: x-large;
}

hr {
  width: 30%;
  border: 1px solid #20acd6;
}

.texto {
  text-align: center;
  background-color: #f5f5f5;
  font-size: large;
}

iframe {
  text-align: center;
  margin-top: 30px;
}

.todoelcontenido {
  background-color: #f5f5f5;
  margin: 20px 0px;
  padding: 50px 22%;
}

a {
  color: #20acd6;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 80px 22%;
}

body {
  margin: 0;
  padding: 0;
}

.hero-image {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(92, 75, 187, 0.5)), to(rgba(251, 242, 242, 0.911))), url("https://www.lavanguardia.com/uploads/2019/04/08/5fa51c43ee9e5.jpeg");
  background-image: linear-gradient(rgba(92, 75, 187, 0.5), rgba(251, 242, 242, 0.911)), url("https://www.lavanguardia.com/uploads/2019/04/08/5fa51c43ee9e5.jpeg");
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  color: #131212;
}

.btt1 {
  font-size: 20px;
  border: none;
  padding: 10px 30px;
  border-radius: 8px;
  background-color: #383d3c;
  width: 180px;
  color: white;
}

button:hover {
  background-color: #89b0e7;
}
/*# sourceMappingURL=index.css.map */