h2 {
  text-align: center;
  padding: auto;
}

.texto {
  text-align: center;
  padding-inline-start: 5cm;
  padding-inline-end: 5cm;
  background-color: #f5f5f5;
}

iframe {
  text-align: center;
  margin: 50px 100px 50px 100px;
  padding-left: 5cm;
  padding-right: 5cm;
}

.todoelcontenido {
  background-color: #f5f5f5;
}

.footer {
  display: flex;
  justify-content: space-around;
}
